---
import AboutMe from "../components/AboutMe.astro";
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Software Developer | Justo Becerra">
  <main class="bg-white dark:bg-blue min-h-screen w-full flex flex-col gap-8"><Intro /><AboutMe /></main>
</Layout>
