---
import { FaHome } from 'react-icons/fa';
import { navlogos, type Navtypes } from '../consts';
import FunctionLogos from './FunctionLogos';
import { LanguageSelector } from 'astro-i18next/components';
---

<div class="flex justify-between items-center py-4">
	<a href="/" class="flex"
		><FaHome
			className="hover:text-green text-3xl text-gray dark:hover:text-green dark:text-white"
		/></a
	><div class="flex items-center justify-end gap-4">
		{
			navlogos.map((nav: Navtypes) => (
				<a href={nav.url} target="_blank" class="transparent">
					<nav.logo className="hover:text-green text-xl dark:hover:text-green text-gray dark:text-white" />
				</a>
			))
		}

		<FunctionLogos client:only="react" />
		<LanguageSelector
			showFlag={true}
			languageMapping={{ en: 'English', es: 'Español' }}
			style="background: transparent"
			class="font-bold text-gray dark:text-white"
		/>
		<div class="flex w-full flex-col lg:flex-row gap-8 lg:gap-4">
			<button
				class="lg:transparent w-full lg:border-0 border-green border-2 rounded-full p-2 font-bold hover:text-green dark:hover:text-green text-gray dark:text-white font-playfairDisplay"
			>
				About
			</button>
			<button
				class="lg:transparent w-full lg:border-0 border-green border-2 rounded-full p-2 font-bold hover:text-green dark:hover:text-green text-gray dark:text-white font-playfairDisplay"
			>
				Projects
			</button>
		</div>
	</div>
</div>
