---
import { navlogos, type Navtypes } from '../consts';
import { t } from 'i18next';
---

<footer
	class="w-full h-[200px] border-gray flex flex-col items-center justify-center gap-8"
>
	<h1 class="text-green font-bold text-3xl text-nowrap lg:text-4xl">
		{t('footer.getInTouch')}
	</h1>
	<div class="flex gap-6">
		{
			navlogos.map((nav: Navtypes) => (
				<a href={nav.url} target="_blank" class="transparent">
					<nav.logo className="hover:text-green text-2xl dark:hover:text-green text-gray dark:text-white" />
				</a>
			))
		}
	</div>
	<h2 class="text-gray dark:text-white text-center">
		© {new Date().getFullYear()} Justo Juan Becerra. {t('footer.copyright')}
	</h2>
</footer>
