---
import IntroText from "./IntroText.astro";
---

<section>
  <div class="ml-[15%] w-full max-w-7xl flex">
    <IntroText />
    <div class="w-1/2 h-1/2">
      <img src="./BackgroundIntroPic.webp" class="rounded-l-full object-cover" />
    </div>
  </div>
</section>
