---
import { IoMdMail } from "react-icons/io";
import { FaEye } from "react-icons/fa";
---

<div class="w-1/2 ml-8 flex flex-col gap-6 py-16 justify-center items-center">
  <h2 class="text-6xl font-bold text-gray dark:text-white tracking-tight text-wrap">
    Developing <span class="text-green font-bold w-fit">fresh and fast apps</span> with passion!
  </h2>
  <h3 class="text-2xl text-gray dark:text-white">Software Developer and passionate problem-solver from La Plata, Argentina.</h3>
  <div class="w-full flex justify-between">
    <a class="text-white shadow-lg w-[45%] bg-green px-6 py-3 rounded-full cursor-pointer flex justify-center items-center"
      ><FaEye className="mr-3 text-2xl" />View Projects</a
    >
    <a class="text-white shadow-lg w-[45%] bg-gray px-6 py-3 rounded-full cursor-pointer flex justify-center items-center"
      ><IoMdMail className="mr-3 text-2xl" /> Get in touch</a
    >
  </div>
</div>
