---
import { IoMdMail } from 'react-icons/io';
import { FaEye } from 'react-icons/fa';
import { Trans } from 'astro-i18next/components';
import { t } from 'i18next';
---

<div
	class="lg:w-1/2 w-full h-[80%] px-4 sm:px-8 flex flex-col gap-6 py-16 justify-center items-center"
>
	<h2
		class="text-4xl leading-10 lg:text-6xl font-bold text-gray dark:text-white tracking-tight text-wrap text-center lg:text-left"
	>
		<Trans i18nKey="home.title">
			Developing <span class="text-green font-bold w-fit"
				>fresh and fast apps</span
			> with passion!
		</Trans>
	</h2>
	<h3
		class="lg:text-2xl md:max-3-xl text-gray dark:text-white text-xl text-center lg:text-left"
	>
		{t('home.subtitle')}
	</h3>
	<div class="w-full flex flex-col lg:flex-row items-center gap-2">
		<a
			class="text-white shadow-lg w-[90%] lg:w-[40%] bg-green px-4 py-3 rounded-full cursor-pointer flex justify-center items-center"
			><FaEye className="mr-3 text-2xl" />{t('home.viewProjects')}</a
		>
		<a
			class="text-white shadow-lg w-[90%] lg:w-[40%] bg-gray px-4 py-3 rounded-full cursor-pointer flex justify-center items-center"
			><IoMdMail className="mr-3 text-2xl" />{t('home.getInTouch')}</a
		>
	</div>
</div>
