---

---

<div class="w-1/2 ml-8 flex flex-col gap-6 py-16">
  <h2 class="text-6xl font-bold text-gray dark:text-white tracking-tight text-wrap">
    Developing <span class="text-green font-bold w-fit">fresh and fast apps</span> with passion!
  </h2>
  <h3 class="text-2xl text-gray dark:text-white">Software Developer and passionate problem-solver from La Plata, Argentina.</h3>
  <div class="w-full flex justify-between">
    <button class="text-white w-[45%] bg-green px-6 py-3 rounded-full">View Projects</button>
    <button class="text-white w-[45%] bg-gray px-6 py-3 rounded-full">Get in touch</button>
  </div>
</div>
