---
import IntroText from "./IntroText.astro";
---

<section class="relative w-full h-screen">
  <div class="w-full max-w-7xl mx-auto h-full flex relative z-10">
    <!-- <div class="w-full flex"> -->
    <IntroText />
    <!-- </div> -->
  </div>

  <div class="absolute top-0 right-0 w-1/2 h-[85%]">
    <img src="./BackgroundIntroPic.webp" class="w-full h-full rounded-l-full object-cover" />
  </div>
</section>
