---
import { type Navtypes, navlogos } from "../consts.ts";
import FunctionLogos from "./FunctionLogos";
---

<header class="relative bg-white shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-4">
      <div class="flex">JJB</div><div class="flex items-center justify-end gap-4">
        {
          navlogos.map((nav: Navtypes) => (
            <button class="transparent">
              <nav.logo className="hover:text-green text-xl" />
            </button>
          ))
        }
        <FunctionLogos client:load />
      </div>
    </div>
  </div>
</header>
