---

---

<header class="relative bg-white dark:bg-blue">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-4">
      <div class="flex">JJB</div><div class="flex items-center justify-end">logos nav</div>
    </div>
  </div>
</header>
