---
import DesktopNavbar from "./DesktopNavbar.astro";
import MobileNavbar from "./MobileNavbar.astro";
---

<header class="relative bg-white dark:bg-blue shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 hidden lg:block">
    <DesktopNavbar />
  </div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 block lg:hidden">
    <MobileNavbar />
  </div>
</header>
