---

---

<div class="w-[400px] h-[500px] rounded flex flex-col gap-8 bg-gray">
	<div class="w-full h-2/5">
		<img src="/quiztimeSH.png" />
	</div>
	<div class="w-full px-4 flex flex-col">
		<div class="flex w-full gap-4">
			<img src="/quiztimeicon.ico" />
			<div>
				<h3 class="text-white">Project Type</h3>
				<h2 class="text-green">Project Name</h2>
			</div>
		</div>
		<p class="text-white">Project Description</p>
	</div>
	<div class="flex flex-col items-center gap-4">
		<h3 class="text-green">Technologies Used</h3>
		<div>Icons of technologies</div>
		<div class="mt-6 flex gap-8">
			<a class="bg-green px-4 py-2 rounded-full text-white">Live Link</a>
			<a class="bg-white px-4 py-2 rounded-full border-2 border-green"
				>Repository</a
			>
		</div>
	</div>
</div>
