---
import { TechandToolsList, type TechandToolsTypes } from '../consts';
import { SingleTech } from './SingleTech';
import { t } from 'i18next';
---

<div class="lg:hidden flex flex-col items-center gap-8 w-full">
	<h1 class="text-green font-bold text-xl mb-8">{t('projects.tools')}</h1>
	<div class="w-full grid grid-cols-3 gap-8">
		{
			TechandToolsList.map((tt: TechandToolsTypes) => (
				<SingleTech client:load logo={tt.logo} name={tt.name} />
			))
		}
	</div>
</div>
